nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

img {
    width: 20px;
}

.nav-bar {
    margin-top: 20px;
}

.nav-input {
    display: flex;
    flex-direction: row;
    border: 1px solid black;
    width: 600px;
    height: 40px;
    padding-top: 15px;
    padding-left: 10px;
    border-radius: 40px;
}

.nav-input input {
    margin-left: 20px;
    border: 0;
    outline: 0;
    margin-top: 5px;
}

.nav-buttons {
    display: flex;
    flex-direction: row;
}

.nav-buttons .nav-bar {
    margin-top: 20px;
    margin-left: 10px;
    margin-right: 10px;
}

.udemy-logo img {
    width: 90px;
    padding-bottom: 10px;
}

.black-friday {
    background-image: url(./a303c795-6589-4ce9-bdda-b7aef7f09288.jpg);
    height: 400px;
    margin-top: 10px;
}

.black-fridaybox {
    border: 1px solid red;
    width: 300px;
    height: 230px;
    margin-left: 40px;
    position: absolute;
    top: 100px;
    background-color: white;
    padding: 10px 15px;
    display: flex;
    flex-direction: column;
    border: 0px;
    outline: 0px;
}

.Friday-box {
    border: 1px solid black;
    margin-top: 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px 10px;
}

.Friday-box input {
    border: 0px;
    outline: 0px;
}

.friday-text {
    font-size: 20px;
}

.course-selection {
    display: flex;
    flex-direction: column;
}

.courses {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-right: 10px;
    margin-top: 20px;
    width: 800px;
}

.python-container {
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    padding-left: 30px;
    padding-right: 30px;
    margin-top: 20px;
}

.Python-career {
    margin-bottom: 20px;
    width: 800px;
}

.python-head {
    margin: 0;
}

.Python-career button {
    padding: 10px;
    color: black;
    background-color: white;
    outline: 0;
}

.python-parts img {
    width: 200px;
    border: 1px solid black;
}

.pp1-price {
    text-decoration: line-through;
}

.python-parts {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.PP6 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 50px;
    margin-bottom: 50px;
    background-color: #f0f6ff;
    padding: 15px 15px;
}

.pp6i {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 300px;
    /* margin-right: 200px; */
}

.pp6i img {
    border: 1px solid black;
    padding: 10px;
    border-radius: 50px;
    margin-right: 10px;
}

.pp6ii {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 350px;
    /* margin-right: 200px; */
}

.pp6ii img {
    border: 1px solid black;
    padding: 10px;
    border-radius: 50px;
    margin-right: 10px;
}

.pp6iii {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 350px;
    /* margin-right: 100px; */
}

.pp6iii img {
    border: 1px solid black;
    padding: 10px 10px;
    border-radius: 50px;
    margin-right: 10px;
}

.python-parts button {
    background-color: yellow;
    margin-bottom: 15px;
    margin-top: 10px;
}

.Python-part2 button {
    background-color: yellow;
    margin-bottom: 15px;
    margin-top: 10px;
}

.Python-part2 img {
    width: 200px;
    border: 1px solid black;
}

.Python-part2 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.python-three img {
    width: 250px;
}

.python-three {
    margin-top: 20px;
    margin-bottom: 30px;
}

.Three {
    display: flex;
    flex-direction: row;
}

.four {
    display: flex;
    flex-direction: row;
}

.featured-topics {
    padding: 20px 20px;
    background-color: rgb(246, 249, 252);
}

.featured-topics .first-div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-right: 150px;
}

.featured-topics .second-div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-right: 80px;
}

.featured-topics .third-div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-right: 80px;
}

.featured-topics .fourth-div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-right: 80px;
}

.featured-topics button {
    padding: 10px;
    background-color: white;
    outline: 0px;
}

.instructor {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-left: 100px;
    padding-top: 40px;
}

.instructor img {
    width: 400px;
}

.instruction {
    padding-top: 100px;
    padding-left: 80px;
}

.instructor-words {
    width: 300px;
    font-size: 20px;
}

.instruction button {
    padding: 10px;
    background-color: black;
    color: white;
    font-size: 15px;
    font-weight: 20px;
}

.Trusted {
    margin-top: 60px;
    margin-bottom: 60px;
    background-color: rgb(245, 246, 248);
}

.Trusted-companies {
    margin-left: 550px;
    padding-top: 10px;
}

.Trusted-logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 450px;
}

.Trusted-logo img {
    width: 50px;
}

.Trusted-logo div {
    padding-right: 60px;
}

.udemy-business {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 70px;
}

.udemy-business .part-two img {
    width: 400px;
}

.udemy-business .part-one img {
    width: 300px;
    padding-bottom: 10px;
}

.business-text {
    width: 400px;
    font-size: 20px;
    padding-bottom: 15px;
}

.udemy-business .part-one {
    padding-top: 130px;
    padding-right: 30px;
}

.udemy-business button {
    padding: 15px 15px;
    color: white;
    background-color: black;
    font-size: 15px;
}

.Transform {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 50px;
}

.Transform img {
    width: 400px;
}

.Transform-parttwo {
    width: 350px;
    padding-top: 60px;
    padding-left: 70px;
}

.transform-text {
    font-size: 20px;
}

.Transform-parttwo button {
    margin-top: 20px;
    padding: 10px 10px;
    color: white;
    background-color: black;
    font-size: 15px;
}

footer {
    color: white;
    background-color: rgb(29, 28, 28);
    padding-bottom: 50px;
    padding-top: 30px;
}

.footer-list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 40px;
    padding-right: 40px;
}

.footer-list1,
.footer-list2 {
    padding-right: 60px;
}

.footer-list1 div,
.footer-list2 div,
.footer-list3 div {
    padding-bottom: 10px;
}

.footer-button button {
    border: 1px solid white;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: rgb(29, 28, 28);
    color: white;
    padding-left: 10px;
    padding-right: 50px;
    padding-top: 10px;
    padding-bottom: 5px;
}

.footer-button button span {
    padding-right: 5px;
    padding-left: 5px;
}

.Footer-end img {
    width: 10px;
}

.footer-img img {
    width: 80px;
}

.Footer-end {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-left: 40px;
    padding-right: 30px;
    padding-top: 50px;
}